%p
  = "Hi #{@name},"
%p
  Your guess has been registered on yaktracker.herokuapp.com. In order to make your guess valid and to be eligible to win the prize pool, please transfer $5 to the following bank account:

%p
  Account Name: Dane Natoli
  %br BSB: #INSERT BSB HERE#
  %br Account Number: #INSERT BANK ACCOUNT HERE#

%p
  = "Your guess ID is #{@id}. Please put \"yaktracker #{@id}\" in the description of your transfer so that I know which guess the money is for."

%p
  Once payment has been received, your guess will be marked as valid and displayed on the website!  As mentioned on the website, whoever's guess is closest to where Dave and Doug finish will be win the entire prize pool, however if they make it all the way to Ulaanbaatar, the money will be sent to Dave and Doug to fly them the hell out of there!

%p
  Any questions or issues, let me know by emailing me at yaktracker@gmail.com or calling me on 0411 149 062.

%p
  Good luck!
  %br Dane.
