%p
  = "Hi #{@name},"
%p
  = "Your payment for your guess (id #{@id}) has been received and your guess is now valid!  You are now eligible for the closest guess prize pool, which currently stands at #{@betting_pool}."
%p
  Head to http://yaktracker.herokuapp.com/map to view your guess.
%p
  Any issues, feel free to contact me at yaktracker@gmail.com, or on 0411 149 062.
%p
  Thanks,
  %br Dane.
